{% extends 'master.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/hero.css' %}">

{% include 'navbar.html' %}

<div id="home" class="hero-section-unique">
    <div class="hero-content">
        <h1>Welcome to Our Event Planning Platform.</h1>
        <h1>Experience the Best Moments with Ease.</h1>
        <div class="contact-container">
            <a href="#" class="btn-contact">Contact Us</a>
            <h3>For more information</h3>
        </div>
    </div>
</div>

{% endblock %}
