{% extends 'master.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


<nav class="navbar navbar-unique navbar-expand-lg  fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h2 class="text-white">EOS</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item">
                    <a class="btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var navbar = document.querySelector(".navbar-unique");
        window.addEventListener("scroll", function () {
            if (window.scrollY > 50) {
                navbar.classList.add("scrolled");
            } else {
                navbar.classList.remove("scrolled");
            }
        });
    });
</script>


{% endblock %}
